<img id="icon" src="~/Images/icons/prawal.jpg" alt="pic" align="top" class="icon" />
<div class="name">
    <h5> @ViewBag.name</h5><br />
    <a href="#">Edit Profile</a>
</div>
<div class = "name" style="display: inline-block">
    <h5> @ViewBag.Pagename</h5>
</div>