<div id="side-bar-one">
    <div class="header shadow">
        <h5>Manage</h5>
    </div>
    <div id="side-content-one" class="shadow">
            <ul id="main-nav">
                    <li class="li-move">                       
                        <div class="li-caption"></div>
                        <a href="#" class="nav-top-item">Users</a>
                        <ul class="ul-inside">
                            <li><a href="/system/addnewuser">Add Users</a></li>
                            <li><a href="#">View Users</a></li>
                            <li><a href="#">Delete Users</a></li>
                        </ul>
                    </li>
                    <li class="li-move">
                        <div class="li-caption">5 Workspaces</div>
                            <a href="/workspace/addworkspace" class="nav-top-item">Workspace</a>
                            <ul class="ul-inside">
                                <li><a href="#">Add Workspace</a></li>
                                <li><a href="#">View Workspaces</a></li>
                                <li><a href="#">Delete Workspaces</a></li>
                            </ul>
                        
                    </li>                
                    <li class="li-move">
                        <div class="li-caption">20 Reports</div>
                        <a href="#" class="nav-top-item">Search</a>
                        <ul class="ul-inside">
                            <li><a href="/manage/">Advanced Search</a></li>
                        </ul>
                        
                    </li>
        </ul>
    </div>
</div>
