<div id="heading"><h6>Manage Content</h6></div>
    <div id="menu">
        <ul id="menu-ul">
            <li id="menu-li"><a href="/manage/viewnewscategory">News</a></li>
            <li id="menu-li"><a href="/manage/viewinterestcategory">Pinboard</a></li>
            <li id="menu-li"><a href="#">Skills Set</a></li>
            <li id="menu-li"><a href="/manage/viewaoscategory">Area of Studies</a></li>
        </ul>
    </div>